.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  background-color: hwb(0 86% 14%);
}
h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 30px 0;
}
.card {
  padding: 0 10px 10px 10px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 8px;
  text-align: center;
  line-height: 13px;
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px;
}
h2 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: bold;
  margin: 15px 0;
}
.content {
  flex: 1 1 auto;
  line-height: 1.4;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
}
span {
  font-weight: bold;
  font-size: 16px;
}
